spring:
  application:
    name: matriz
  datasource:
    url: jdbc:postgresql://localhost:5436/seg
    username: user
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri:  http://localhost:8080/realms/matriz
          jwk-set-uri: http://localhost:8080/realms/matriz/protocol/openid-connect/certs
  flyway:
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    url: jdbc:postgresql://localhost:5436/seg
    locations: db.migration
  ai:
    ollama:
      chat:
        options:
          model: llama3.2
jwt:
  auth:
    converter:
      principle-attribute: preferred_username
      resource-id: matriz-riesgo
server:
  port: 9098
